<div id="app-auth">
    <div class="head">
        <img src="../assets/icons/root.png" alt="cedu logo" class="logo-img responsive-img" />

        <div class="brand">Cloud ceduation</div>

        <div class="caption"><strong>Cloud Operator Platform will help you have a great experiences. Let's go!</strong></div>
        
        <div class="sub-caption"><small>To begin, sign in with your account:</small></div>
    </div>

    <div class="body">
        <amplify-authenticator [signUpConfig]="signUpOptions"></amplify-authenticator>
    </div>
</div>