#navbar {
    .wrapper {
        height: 100%;
        .nav-items {
            height: 100%;
            .left {
                height: 100%;
            }
            .item {
                .block-items {
                    padding-right: 10px;
                    padding-left: 10px;
                    height: 100%;
                }
            }
        }
    }
}