<nav id="navbar">
    <div class="wrapper">
        <ul class="nav-items">
            <li class="item left">
                <div class="block-items flex-center">
                    <a [routerLink]="['home']" class="brand">CEDU &nbsp;</a>
                    <span> {{ 'welcome' | lang }} <span> {{ auth?.user?.displayName }}  !</span></span>
                </div>
            </li>
            <li class="item right">
                <div class="block-items flex-center">
                    <img class="pointer" src="../../../../../assets/icons/vietnam.png" (click)="setLang('vi')" alt="" srcset="">
                    <img class="pointer" src="../../../../../assets/icons/england.png" (click)="setLang('en')" alt="" srcset="">
                    <span class="pointer signout" (click)="auth.signOut()">{{ 'sign_out' | lang }}</span>
                </div>
            </li>
        </ul>
    </div>
</nav>
