@import 'customizes';
@import 'layouts';

html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    color: #2F2F2F;
    font-weight: 300;
    background-color: #ebedee;
}

ul, menu, dir {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-center {
    display: block;
    text-align: center;
}